* {
    margin: 0;
    padding: 0;
    
    
}



.container {
    width: 75%;
    margin: 0 auto; 

}

.nav {
    height: 75px;
    background-color: #222;
    width: 100vw;
   
}

.nav .container {
    
    height: 75px;
    display: flex;
    justify-content: space-between;
    
}

.container .div-a {
    margin-top: 18px;
}

.right-bar a {
    margin-top: 18px;
}



.left-bar {
    flex: 1;
    display: flex;
    

}

.left-bar .div-a {
    margin-right: 41px;
    
}

.right-bar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}




.top {
    display: flex;
    height: 764px;
    width: 100vw;
    background-color: #F1E4E6;


}

.top-img {
    flex: 1;
}

.description {
    flex: 1;
    display: flex;
    margin-top: 290px;
}

.rect {
    margin-left: 63px;
}

.text {
    margin-left: 16px;
}

.description h1 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;

}

.description p {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    

}

.highlight {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;

}



.categories {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    flex-wrap: wrap;
    
    
}

.smallRect {
    flex: 0 0 calc(33.33% - 30px);
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-size: cover;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    background-size: cover;
    
    
    
  }

.largeRect {
    margin-top: 30px;
    height: 180px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;

}


a {
    text-decoration: none;
    color: inherit;
  
}

a p {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    margin: 0;

}

a h1 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;

}




